In [96]:
import pandas as pd

In [97]:
alldata_df = pd.read_csv("final_merged.csv")
alldata_df.head()

,Disaster Type,Disaster Number,Incident Type,Title,Year,State,Declared County/Area,FIPS Code
0,DR,4411,Hurricane,TROPICAL STORM MICHAEL,2018,VA,Amelia (County),51007
1,DR,4411,Hurricane,TROPICAL STORM MICHAEL,2018,VA,Appomattox (County),51011
2,DR,4411,Hurricane,TROPICAL STORM MICHAEL,2018,VA,Brunswick (County),51025
3,DR,4411,Hurricane,TROPICAL STORM MICHAEL,2018,VA,Campbell (County),51031
4,DR,4411,Hurricane,TROPICAL STORM MICHAEL,2018,VA,Charlotte (County),51037

In [98]:
#Only keep one row for each disasters
unique_disasters = alldata_df.drop_duplicates('Disaster Number')
year_df = unique_disasters.groupby("Year")

In [99]:
total_disasters = pd.DataFrame(year_df["Disaster Type"].count())
total_disasters = total_disasters.rename(columns={"Disaster Type": "Total ALL Disasters"})
total_disasters.head()

      Total ALL Disasters
Year
1959                    1
1964                    4
1965                   25
1966                   10
1967                    9

In [100]:
hurricanes_only = pd.DataFrame(unique_disasters[unique_disasters['Incident Type'] == 'Hurricane'].groupby('Year')['Incident Type'].count())
hurricanes_final = hurricanes_only.rename(columns={"Incident Type": "Hurricanes"})

In [101]:
earthquakes_only = pd.DataFrame(unique_disasters[unique_disasters['Incident Type'] == 'Earthquake'].groupby('Year')['Incident Type'].count())
earthquakes_final = earthquakes_only.rename(columns={"Incident Type": "Earthquakes"})

In [102]:
floods_only = pd.DataFrame(unique_disasters[unique_disasters['Incident Type'] == 'Flood'].groupby('Year')['Incident Type'].count())
floods_final = floods_only.rename(columns={"Incident Type": "Floods"})

In [103]:
tornado_only = pd.DataFrame(unique_disasters[unique_disasters['Incident Type'] == 'Tornado'].groupby('Year')['Incident Type'].count())
tornado_final = tornado_only.rename(columns={"Incident Type": "Tornadoes"})

In [104]:
fires_only= pd.DataFrame(unique_disasters[unique_disasters['Incident Type'] == 'Fire'].groupby('Year')['Incident Type'].count())
fires_final = fires_only.rename(columns={"Incident Type": "Fires"})

In [105]:
#merge all dataframes
merge1 = pd.merge(hurricanes_final, earthquakes_final, on=["Year"], how="outer")
merge2 =pd.merge(merge1, floods_final, on=["Year"], how="outer")
merge3 = pd.merge(merge2, tornado_final, on=["Year"], how="outer")
merge4= pd.merge(merge3, fires_final, on=["Year"], how="outer")
finalmerge_df = pd.merge(merge4, total_disasters, on=["Year"], how="outer")
finalmerge_df.head()

      Hurricanes  Earthquakes  Floods  Tornadoes  Fires  Total ALL Disasters
Year
1965         3.0          1.0     9.0        7.0    NaN                   25
1967         1.0          NaN     5.0        2.0    1.0                    9
1968         1.0          NaN    10.0        6.0    NaN                   18
1969         5.0          NaN    21.0        2.0    NaN                   28
1970         1.0          NaN    12.0        1.0    1.0                   17

In [106]:
#export csv 
finalmerge_df.to_csv("finaldata_byYEAR.csv")

In [107]:
pwd

'C:\\Users\\Anum Ali\\Desktop\\Group Project 2\\summary graphs'